@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700&display=swap");

body {
  background-color: #111;
  color: #ddd;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1340px;
}

.introduction {
  margin-top: 1.3rem;
  margin-bottom: 2rem;
  min-height: 80vh;
  max-height: 98vh;
  text-align: center;
}

.introduction h1 {
  margin-top: 4rem;
  font-size: 1.7rem;
  margin-bottom: 4rem;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
}

.bio {
  font-size: 1.2rem;
}

li {
  list-style: none;
  font-size: 200%;
}

a {
  text-decoration: none;
}

li a {
  color: #888;
  transition: color 0.5s;
  text-decoration: none;
  display: flex;
  align-items: center;
}

li span {
  font-size: 1.1rem;
  margin-left: 0.3rem;
}

.logo-linkedin:hover {
  color: #0e76a8;
}

.logo-github:hover {
  color: #fff;
}

.bio-email {
  text-align: center;
}

.email {
  display: flex;
  color: #aaa;
  font-size: 1.3rem;
  justify-content: center;
  margin-top: 3rem;
}

.email span {
  margin-left: 0.5rem;
}

.material-icons {
  color: #888;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lower-arrow-one,
#lower-arrow-two {
  margin-top: -1rem;
}

.project {
  background-color: #202022;
  padding: 1rem;
  margin-top: 1rem;
}

.front {
  margin: 0 auto;
  text-align: center;
}

.screenshot {
  width: 95%;
  border-radius: 5px;
}

.description,
.tech-stack {
  font-size: 1rem;
}

.view-page,
.view-codepen {
  background-image: linear-gradient(0deg, #ff8a00, #e52e71);
  padding: 0.2rem 0.7rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

.view-github,
.read-more {
  border: 2px solid #aaa;
  padding: 0.1rem 0.7rem;
  color: #aaa;
  border-radius: 5px;
}

.view-github:hover,
.read-more:hover {
  background-color: #aaa;
  color: #202022;
  border: 2px solid #aaa;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.blog-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 500px) {
  .container {
    width: 60%;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    display: flex;
    width: 95%;
    justify-content: space-between;
  }

  .introduction,
  .projects-articles-display {
    width: 45%;
  }

  .introduction {
    position: fixed;
  }

  .introduction h1 {
    font-size: 4rem;
  }

  .social-media {
    width: 50%;
    margin: 1rem auto;
  }

  .scroll-down {
    display: none;
  }

  .header {
    font-size: 1rem;
    margin: 0 auto;
  }

  .projects-articles-display {
    margin-top: 3.5rem;
    margin-left: 55%;
  }

  .project {
    width: 95%;
    margin: 1rem auto;
  }

  .description,
  .title {
    display: none;
  }

  .back {
    text-align: center;
  }

  .screenshot {
    width: 50%;
  }

  .links {
    margin: 0.3rem auto;
    width: 70%;
  }

  .view-github,
  .view-page,
  .view-codepen {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1500px) {
  .introduction {
    left: 7%;
  }
}
